.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  overflow: hidden; // Убирает скролл
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1px;
}

.registerCard {
  background-color: #c5d5e3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 100%
}

.inputGroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 1px;
  gap:30px

}

.label {
  font-size: 16px;
  color: black;
  margin-bottom: 5px;
  text-align: left;
}

.input {
  background-color: white;
  color: black;
  height: 30px;
}

.passportGroup {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.registerButton {
  width: 60%;
  height: 20%;
  background-color: #7698b2 !important;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 80px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken(#A3C1D6, 10%);
  }
}